<!DOCTYPE html>
<html>
<head>
    <title>Kling</title>
    <head>
      
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>


</head>

<h1 >Kling</h1>
<br><br>
<div id=tk>
  <form action="" method="">
    <div id="styleform">
      <div class="inline-block">
        <label class="block" for="NAME">Source_Ip</label>
        <input class="block" type="text" id="NAME" size="20">
      </div>
      <div class="inline-block">
        <label class="block" for="no">Source_Port</label>
        <input class="block" type="text" id="no" , size="20">
      </div>

      <div class="inline-block">
        <label for="age" class="block" >Destination IP</label>
        <input type="text" class="block"  id="age" size="20">
      </div>
      <div class="inline-block">
        <label class="block" for="S_NO:">Destination Ports</label>
        <input type="text" class="block"  id="S_NO:" size="20">
      </div>
    </div>
  </form>
</div>


  

  

<a class = "ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini" href="http://127.0.0.1:8000/kling" style="float:rightposition: absolute;"
top: 40px; left: 40px;>Logout </a>
</body>
<style>
  div {
    display: inline-block;
    margin-right:20px;
    margin-left: 40px;
    
}

div label {
    display: block;
    margin-right: 40px;
}

</style>




  </body>


</html>

