<!DOCTYPE html>
<html>
<head>
    <title>Kling</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- <title>Kling</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
  
    <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
      	{% load static %}

  <link rel="shortcut icon" type="image/png" href="{% static 'img\fiserv.png' %}"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'admin\img\fiserv.icon' %}"/>
  <link rel="stylesheet" href="{% static 'css\style.css' %}">
  

        <img src="{% static 'img\fiserv.png' %}" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form action="{% url 'add_user' %}" method="post" class="navbar-form navbar-right" role="form"> {% csrf_token %}
          {{form.as_p}}
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            
          </div>



          <!-- Email input -->
          <div class="form-outline mb-4">
          	<label class="form-label" for="form3Example3" name="username">Email address</label>
            <input class="form-control" id="id_username" name="username" autofocus="" required="" type="text">
        </p>
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
			<label>Password <br>
				<input class="form-control" id="password" name="password" autofocus="" required="" type="password" />
				<br>
			  </label>

			  <label class="form-label" for="form3Example4">Confirm password<br>
				<input class="form-control" type="password" name="confirm_password" autofocus="" required="" id="confirm_password" />
				<span id='message'></span>
			  </label>
          	
        </p>

		<!-- <div class="form-outline mb-3">
          	<label class="form-label" for="form3Example4" name="confirm_password">Password</label>
            <input class="form-control" id="confirm_password" name="confirm_password" autofocus="" required="" type="password">
        </p> -->
            
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            
            
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">SignUp</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Already member Login
            	<a href="http://127.0.0.1:8000/kling/"class="link-danger"> Kling</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
</body>


<script>
	$('#password, #confirm_password').on('keyup', function () {
		if ($('#password').val() == $('#confirm_password').val()) {
		  $('#message').html('Matching').css('color', 'green');
		} else 
		  $('#message').html('Not Matching').css('color', 'red');
	  });
</script>



  </body>


</html>

