<style>
	.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}



.logo{
  width:  400 px;
  height: 500 px;
  margin-right: 200px;
      }
  
  .logo img{
  float: left;
  margin-left: 0px 0px 0px 30px;
  width: 3000px;
  height: 300px;
  }
</style>